@using Savico.Core.Models.ViewModels.Goal
@model GoalInputViewModel

@{
    ViewData["Title"] = "Create Goal";
}

<div class="container mt-5">
    <h1>Create Goal</h1>

    <form asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="TargetAmount">Target Amount</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-coins"></i> @Model.Currency
                    </span>
                </div>
                <input type="number" step="0.01" class="form-control" id="TargetAmount" asp-for="TargetAmount" />
            </div>
            <span asp-validation-for="TargetAmount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="TargetDate">Target Date</label>
            <input type="text" class="form-control" id="TargetDate"
                   value="@Model.TargetDate.ToString("dd.MM.yyyy")"
                   placeholder="dd.MM.yyyy" asp-for="TargetDate" />
            <span asp-validation-for="TargetDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success btn-lg shadow-sm rounded-pill mt-3">
            <i class="fas fa-plus-circle"></i> Create Goal
        </button>
    </form>

    <a href="@Url.Action("Index", "Goal")" class="btn btn-secondary btn-lg shadow-sm rounded-pill mt-3">
        <i class="fas fa-arrow-left"></i> Back to Goals
    </a>
</div>
