@using Savico.Models.ViewModels.Budget
@model IEnumerable<BudgetViewModel>

@{
    ViewData["Title"] = "All Budgets";
}

<h1>Budgets</h1>

<table class="table">
    <thead>
        <tr>
            <th>Total Amount</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var budget in Model)
        {
            <tr>
                <td>@budget.TotalAmount</td>
                <td>@budget.StartDate.ToShortDateString()</td>
                <td>@budget.EndDate.ToShortDateString()</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@budget.Id">Edit</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@budget.Id">Details</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@budget.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">Create New Budget</a>
