@using Savico.Core.Models.ViewModels.Expense
@model ExpenseViewModel

@{
    ViewData["Title"] = "Expense Details";
}

<h2>
    <i class="fas fa-info-circle"></i> Expense Details
</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <i class="fas fa-calendar-alt"></i> Date
        </dt>
        <dd class="col-sm-10">@Model.Date.ToString("dd.MM.yyyy")</dd>

        <dt class="col-sm-2">
            <i class="fas fa-dollar-sign"></i> Amount
        </dt>
        <dd class="col-sm-10">@Model.Amount @Model.Currency</dd>

        <dt class="col-sm-2">
            <i class="fas fa-list-alt"></i> Category
        </dt>
        <dd class="col-sm-10">@Model.CategoryName</dd>

        <dt class="col-sm-2">
            <i class="fas fa-align-left"></i> Description
        </dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
</div>
